#id-card {
    height: 100%;
    width: 100%;
}

#id-card img {
    height: 200px;
    width: 200px;
}

#id-card .part {
    height: 100%;
}

#id-card .info {
    height: 100%;
}

#id-card #info-rows {
    width: 100%;
}

#id-card #info-rows .row {
    width: 100%;
}
