#hello-msg #name {
    font-size: 70px;
}

#hello-msg #meaningful-words {
    margin-top: 30px;
    font-size: 15px;
}

#hello-msg #author {
    text-align: right;
    margin-top: -20px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    #hello-msg #name {
        font-size: 40px;
    }
}
