footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #465156;
    color: white;
    vertical-align: middle;
}

footer #container {
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#copyright {
    float: left;
    margin-left: 30px;
}

#external-links {
    float: right;
    margin-right: 30px;
}

#external-links a {
    color: white;
    margin-left: 10px;
}
